* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(222, 248, 248);
    font-family: Arial, Helvetica, sans-serif;;
}
/* HEADER & NAV START */
 
header {
    padding: 20px 40px;
    background-color: grey;
    display: flex;
}

header h1 {
    font-weight: bolder;
    font-size: 48px;
    color: hotpink;
}

header a{
    font-size: 30px;
    color: lawngreen;
}

header nav {
    margin: 8px 0;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul a {
    padding: 20px 50px;
    font-weight: lighter;
}

/* HEADER & NAV END */



/* ABOUT ME START */



/* ABOUT ME END */



/* MY WORK START */



/* MY WORK END */





/* FOOTER CONTACT ME START */

footer {
    background-color: grey;
}
 

/* FOOTER CONTACT ME END */
