* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightcyan;
    font-family: Arial, Helvetica, sans-serif;
    color: midnightblue;
    margin: 50px;
}


/* HEADER & NAV START */
 
header {
    padding: 20px 40px;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: solid 3px midnightblue;
    border-radius: 10px;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: steelblue;
  }
  
  header a {
    text-decoration: none;
    color: steelblue;
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }

/* HEADER & NAV END */

/* HERO IMG */

.hero {
    background-image: url('../images/hero5.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 400px;
    color: white;
    border-radius: 15px;
}

.hero img {
    border: 100px double midnightblue;
}

/* ABOUT ME START */

.Teri {
    padding: 60px;
}

.Teri img {
    display: block;
    margin: 10px auto;
    max-width: 450px;
    float: left;
    border-radius: 10px;
}

. {

}

/* ABOUT ME END */



/* MY WORK START */

.My-Work img {
    max-height: 350px;
    max-width: 350px;
    padding: 50px;
    border-radius: 10px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 15px 15px 20px 15px rgba(231, 9, 9, 0.2);
  }

  .card:hover {
    box-shadow: 30px 30px 16px 0 rgba(0,0,0,0.2);
  }

/* MY WORK END */





/* FOOTER START */

footer {
    background: lightblue;
    padding: 20px 40px;
    border: solid 3px midnightblue;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
  }
  
  footer h2 {
    color: steelblue;
    font-size: 30px;
    margin: 0;
  }

/* FOOTER END */


/* MEDIA QUERIES FOR SMALLER SCREENS */ 

@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
    }

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px) {

}